---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Rounded from '../../components/Rounded';
---

<Layout title="Photo To Rounded" description="Online photo to rounded tool, quickly add rounded to the photo, made of beautiful rounded photo, size of the rounded, generate rounded photo in PNG format.">
    <main class="relative overflow-hidden min-h-screen flex flex-col">
        <div class="z-0 absolute w-80 h-60 bg-blue-600 blur-[80px] opacity-30 -top-20 -right-20"></div>
        <div class="z-0 absolute w-80 h-60 bg-blue-400 blur-[80px] opacity-30 top-40 left-40"></div>
        <div class="z-0 absolute w-80 h-60 bg-purple-400 blur-[80px] opacity-30 top-40 right-40"></div>
        <Header />
        <div class="container py-8 relative z-10 flex-1">
            <h1 class="text-4xl text-center leading-[42px] font-bold mb-0.5 bg-gradient-to-r from-gray-600 to-gray-800 bg-clip-text text-transparent">Photo To Rounded</h1>
            <p class="text-slate-600 text-center mb-2">Not uploaded and editing in browser</p>
            <div class="pb-12">
                <Rounded client:only="react" />
            </div>
            <section class="mb-3 rounded-md p-4 bg-sky-100/40 text-xs">
                <div class="mb-1 text-sm">🏙️</div>
                <h2 class="text-lg font-bold mb-2">Photo To Rounded Online</h2>
                <p>Online photo to rounded tool, quickly add rounded to the photo, made of beautiful rounded photo, size of the rounded, generate rounded photo in PNG format.</p>
            </section>
            <section class="mb-3 rounded-md p-4 bg-pink-100/40 text-xs">
                <div class="mb-1 text-sm">🤩</div>
                <h2 class="text-lg font-bold mb-2">What can you do with Photo To Rounded Tool?</h2>
                <p>It helps to rounded to the photo and download a beautiful picture that can be shared on Facebook, Twitter and Web forums.</p>
                <p>Users can download beautiful pictures with the perfect size and good quality.</p>
                <p>Online Photo To Rounded Online tool works well on Windows, MAC, Linux, Chrome, Firefox, Edge, and Safari.</p>
            </section>
            <section class="py-8">
                <h2 class="text-xl font-extrabold mb-2 text-center">Your privacy is important</h2>
                <p class="text-slate-600 text-center">Your photos are not uploaded, image editing happens in your browser.</p>
            </section>
        </div>
        <Footer />
    </main>
</Layout>
