---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Terms Of Service' description='Terms Of Service'>
    <Header />
    <article
        class='prose prose-zinc mx-auto container py-12 dark:prose-invert'
    >
        <div class='space-y-2 not-prose'>
            <h1
                class='text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem]'
            >
                Terms of Service
            </h1>
            <p class='text-zinc-500 dark:text-zinc-400'>
                Posted on November 11, 2023
            </p>
        </div>
        <div class='mt-6'>
            <h2>1. Introduction</h2>
            <p>
                This website is operated by Shot Easy. Thrzughout the site, the
                terms "we", "us" and "our" refer to Shot Easy. Shot Easy
                offers this website, including all information, tools and
                services available from this site to you, the user, conditioned
                upon your acceptance of all terms, conditions, policies and
                notices stated here.
            </p>
            <p>
                By visiting our site and/or purchasing something from us, you
                engage in our "Service" and agree to be bound by the following
                terms and conditions, including those additional terms and
                conditions and policies referenced herein and/or available by
                hyperlink. These Terms of Service apply to all users of the
                site.
            </p>
            <h2>2. Use of the Service</h2>
            <p>
                You may only use this website to browse the content we make
                available. You may not use the Service for any illegal or
                unauthorized purpose. You agree to comply with all laws, rules
                and regulations applicable to your use of the website and
                content.
            </p>
            <h2>3. Access</h2>
            <p>
                We reserve the right to withdraw or amend this website, and any
                service or material we provide via the website, in our sole
                discretion without notice. We will not be liable if for any
                reason all or any part of the website is unavailable at any time
                or for any period.
            </p>
            <h2>4. Intellectual Property Rights</h2>
            <p>
                All content and materials available on this website are the
                property of Shot Easy and are protected by copyright, trademark
                and other applicable laws. You may view, copy and print content
                from the website subject to adhering to these Terms of Service.
            </p>
            <h2>5. Disclaimer of Warranties &amp; Limitations of Liability</h2>
            <p>
                This website and all information, content and materials are
                provided by Shot Easy on an “as is” and “as available” basis.
                Shot Easy makes no representations or warranties of any kind,
                express or implied.
            </p>
            <p>
                Shot Easy shall not be liable for any damages of any kind
                arising from the use of this website.
            </p>
            <h2>6. Governing Law</h2>
            <p>
                These Terms shall be governed and construed in accordance with
                the laws of Canada, without regard to its conflict of law
                provisions.
            </p>
            <h2>7. Changes To Terms of Service</h2>
            <p>
                You can review the most current version of the Terms of Service
                at any time at this page. We reserve the right, at our sole
                discretion, to update, change or replace any part of these Terms
                of Service.
            </p>
        </div>

        <!--AFTER-CONTENT-->
    </article>
    <Footer />
</Layout>
