---
---

<div class="py-8 bg-white">
    <div class="container grid grid-cols-3 items-center gap-2 text-xs text-gray-500">
        <p>Copyright © 2023 ShotEasy</p>
        <div class="flex gap-3 justify-center">
            <a href="/privacy-policy" class="hover:text-blue-500 underline">Privacy</a>
            <a href="/terms-of-service" class="hover:text-blue-500 underline">Terms</a>
        </div>
        <div class="flex gap-3 justify-end">
            <a href="https://twitter.com/LiWen563" target="_blank" aria-label="twitter:@LiWen563" class="hover:text-blue-500">
                <svg fill="currentColor" viewBox="0 0 24 24" width="16" height="16" aria-hidden="true"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>
            </a>
        </div>
    </div>
</div>