---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import ViewerPage from '@components/ViewerPage.astro';
import { getLang } from '@i18n/index';
const t = getLang().viewer;
---

<Layout title={t.title} description={t.description} keywords={t.keywords}>
    <main class="relative overflow-hidden min-h-screen flex flex-col">
        <Header />
        <ViewerPage />
        <Footer />
    </main>
</Layout>
