---
// import { ViewTransitions } from 'astro:transitions';
import '../static/global.css';
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{title} | screenshot and photo editor online fo free</title>
        <link rel="canonical" href="https://shoteasy.fun" />
		<meta name="description" content="Easy Shot and edit online for free, resize, and filter any photos, edit photo or image on browser, convert image to jpg/png/jpeg/webp, easy to screenshot, area or full page screenshot, change image format online">
        <meta name="keywords" content="Shot Easy, easy shot, screenshot, edit photo, photo converter, image converter, editor online, change image format online, convert image to jpg, jpg to webp, jpg to png">
        <!-- <ViewTransitions /> -->
    </head>
    <body>
        <slot />
    </body>
</html>
