---
// import { ViewTransitions } from 'astro:transitions';
import '../static/global.css';
interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
const headTitle = `${title} | photo editor online for free`;
const headDesc = description || "Easy Shot and edit online for free, resize, and filter any photos, edit photo or image on browser, convert image to jpg/png/jpeg/webp, easy to screenshot, area or full page screenshot"
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{headTitle}</title>
		<meta name="description" content={headDesc}>
        <meta name="keywords" content="Shot Easy, easy shot, screenshot, edit photo, photo converter, image converter, editor online, change image format online, convert image to jpg, jpg to webp, jpg to png">
        <!-- <ViewTransitions /> -->
    </head>
    <body>
        <slot />
    </body>
</html>
